.container {
  height: 150px;
  border-radius: 10px;
  background-color: #f9f9f9;
  /*transition: background-color 0.3s, color 0.3s;*/
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  gap: 20px;
}

.btn1 {
  background-color: #f15bb5;
}

.btn2 {
  background-color: #fee440;
}

.btn3 {
  background-color: #9b5de5;
}

/* Адаптивность 
@media (max-width: 480px) {
  .container {
    padding: 24px;
  }

  .cardNumberGroup {
    justify-content: center;
  }

  .cardInput {
    width: 70px;
  }
}
.Fry {
  width: 100%;
  border-radius: 15px;
}
*/