.container {
 max-width: 900px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.3);
  transition: background-color 0.3s, color 0.3s;
 
  padding: 0px 40px 40px 20px;
    padding: 20px;
  margin: 0px 40px 60px 0px;
}

.li {
  /*width:600px;*/
  margin: 10px;
 padding-right: 20px;
}

span {
  position: absolute;
  left: 30px;
}
.icon {
  position: absolute;
  right: -60px;
}
