.container {
max-width: 900px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.4);
  transition: background-color 0.3s, color 0.3s;
  padding: 20px;
  margin-bottom:50px ;
 
}


.title {
  height: 3.5vh;
  width: 500px;
}
.description {
  height: 100px;
  width: 500px;
}
button {
  margin: 10px;
  color: blueviolet;
}
h1{
 
}
input::placeholder {
  font-style: italic;
  align-items: top;
  color: darkgray;
  position: absolute;
  top: 0;
  padding: 5px;
}
