#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.taskForm{
 background:linear-gradient(96deg,rgba(238, 174, 202, 1) 0%, rgb(151, 180, 214) 100%);
 
  margin: 0px  0px 40px 0px ;
  padding: 40px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);}


.dishForm{
 background: -webkit-linear-gradient(90deg, #ffffff,#ebebeb);background: linear-gradient(90deg, #ffffff,#ebebeb);
 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0px  0px 40px 0px ;
  padding: 40px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);}